{% load staticfiles %}
<!DOCTYPE html>
<html>
<head>
    <title>{% block title %} .:. {% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="keywords" content="{% block meta_keywords %}PI TEAM, software, development, web, design, python, ruby{% endblock %}">
    <meta name="description" content="{% block meta_description %}We are PI, we crazy, we know it and we did it.{% endblock %}">
    <!-- Bootstrap -->
    <link href= "{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->

    <!-- My style -->
    <link rel="stylesheet" href="{% static 'css/duythinht.css' %}"/>
    <link rel="stylesheet" href="http://yandex.st/highlightjs/7.4/styles/solarized_dark.min.css">
    <script src="http://yandex.st/highlightjs/7.4/highlight.min.js"></script>
    <script>hljs.initHighlightingOnLoad();</script>
</head>
<body>
    <div class="container wrapper">
        <header>
            {% include 'navigation.html' %}
        </header>
        <div class="content">
            {% block content %}{% endblock %}
        </div>
        <footer>
            Copyright &copy 2013
        </footer>
    </div>
    <script src="https://code.jquery.com/jquery.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="{% static "js/bootstrap.min.js" %}"></script>
</body>
